![hero image](./test.png)


[![view on
npm](http://img.shields.io/npm/v/@jwc/jscad-test-utils.svg)](https://www.npmjs.org/package/@jwc/jscad-test-utils)
[![npm module
downloads](http://img.shields.io/npm/dt/@jwc/jscad-test-utils.svg)](https://www.npmjs.org/package/@jwc/jscad-test-utils)
![Dependents](http://img.shields.io/librariesio/dependents/npm/@jwc/jscad-test-utils)

![Twitter Follow](https://img.shields.io/twitter/follow/johnwebbcole?label=Follow&style=social)

# jscad-test-utils

This packages has two utilities to help testing [JsCad] objects using image snapshots with [AVA].

## csgReglRenderer

Based on [@jscad-regl-rendere](https://github.com/jscad/OpenJSCAD.org/tree/V2/packages/utils/regl-renderer) the
csgReglRenderer provides an easy way to generate a png file from a CSG object.

```javascript
var sphere = CSG.sphere({
center: [0, 0, 0],
radius: 2, // must be scalar
resolution: 128
});

if (fs.existsSync("test.png")) fs.unlinkSync("test.png");
csgReglRenderer(sphere, "test.png");
```

## API

{{>main}}